<p id="notice"><%= notice %></p>

<h1>Owners</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @owners.each do |owner| %>
      <tr>
        <td><%= owner.id %></td>
        <td><%= owner.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>スコープをかけたownersテーブル</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @owner_scope.each do |owner_scope| %>
      <tr>
        <td><%= owner_scope.id %></td>
        <td><%= owner_scope.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to "Catページへ", cats_url %>
<%= link_to "Dogページへ", dogs_path %>
