<h1>catsテーブル</h1>
<table class="teble">
  <thead>
    <tr>
      <th class="header1">id</th>
      <th class="header2">name</th>
      <th class="header3">owner_id</th>
    </tr>
  </thead>
  <tbody>
    <% @cats.each do |cat|  %>
    <tr>
      <td><%= cat.id %></td>
      <td><%= cat.name %></td>
      <td><%= cat.owner_id %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h1>ownersテーブル</h1>
<table class="teble">
  <thead>
    <tr>
      <th class="header1">id</th>
      <th class="header2">name</th>
    </tr>
  </thead>
  <tbody>
    <% @owners.each do |owner|  %>
    <tr>
      <td><%= owner.id %></td>
      <td><%= owner.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Ownerページへ", owners_url %>
